<h1>DoGSiteScorer</h1>
  <h6> Startseite</h6>
    <p> irgendwie muss hier eine bessere aufteilung hin, links fehlen die links.</p>
    <p> Anfrage: </p>
     <%= form_tag("/id", :method => "get") do %>
       <%= text_field_tag(:ID, "hier die PDB-ID reinschreiben!") %>
       <%= submit_tag("los gehts") %>
     <% end %>




