
<%if File.exists?("tmp/cache/yeah") %>
  <script>
    window.location.href = "http://localhost:3000/results"
  </script>
<% end %>


<p>
  die Anfrage nach <%=@id%> wird bearbeitet. <br>
  sobald sie fertig ist, werden Sie weitergeleitet!<br>
  <br>
  <%=@info%>
  <br>
  im model ist jetzt die anfrage gespeichert, unter der id: <%=@request%> <br>
</p>


<script>
  window.setInterval(location.reload(),50000)
</script>

