<p>
  Ihre Anfrage nach <%=@id%> wird bearbeitet. <br>
  sobald sie fertig ist, werden Sie weitergeleitet!<br>
  das war gelogen ;) <br>
  <br>
  <%=@info%>
  <br>
  im model ist jetzt die anfrage gespeichert, unter der id: <%=@request%> <br>
  <br>
  so, wo ist jetzt die antwort?<br>
  <%= link_to "hier", request_path(@request) %>

</p>


